In [2]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate

ml_100k_data = Dataset.load_builtin('ml-100k')

svd_algorithm = SVD()

cross_validate(svd_algorithm, ml_100k_data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9349  0.9352  0.9423  0.9330  0.9361  0.9363  0.0032
Fit time          4.88    4.93    4.60    4.48    4.95    4.77    0.19
Test time         0.18    0.19    0.14    0.18    0.18    0.17    0.02

{'fit_time': (4.8756654262542725,
  4.930354595184326,
  4.600804805755615,
  4.479751348495483,
  4.951127529144287),
 'test_rmse': array([0.93486585, 0.93523759, 0.94228241, 0.93301285, 0.93613072]),
 'test_time': (0.1844778060913086,
  0.18764519691467285,
  0.13855600357055664,
  0.17955732345581055,
  0.182830810546875)}

In [1]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

ml_100k_data = Dataset.load_builtin('ml-100k')

svd_algorithm = SVD()

train_set, test_set = train_test_split(ml_100k_data, test_size=.2)

svd_algorithm.fit(train_set)
predict = svd_algorithm.test(test_set)

accuracy.rmse(predict)

RMSE: 0.9418

0.941844220412939

In [24]:
import json
import os
import itertools

tracker_files_folder = 'tracker'
offers_file_names = ['observed-offers.json', 'reported-offers.json', 'viewed-offers.json']

all_offers_list = list(itertools.chain.from_iterable(
    [json.load(open(os.path.join(tracker_files_folder, file_name))) for file_name in offers_file_names]))
len(all_offers_list)

302120

In [25]:
unique_offers_set = {offer['what'] for offer in all_offers_list}
len(unique_offers_set)

90004

In [26]:
from bidict import bidict

unique_offers_bi_map = bidict({(index + 1): offer_name for index, offer_name in enumerate(unique_offers_set)})
len(unique_offers_bi_map)

90004

In [64]:
unique_offers_bi_map.inv['2016_1_17440_bzp']

22630

In [65]:
unique_offers_bi_map[22630]

'2016_1_17440_bzp'

In [7]:
import pandas as pd
# import dateutil.parser

offer_type_score_map = {
    'observed-offer': 5.0,
    'reported-offer': 2.0,
    'viewed-offer': 3.0
}

for offer in all_offers_list:
    offer['what'] = unique_offers_bi_map.inv[offer['what']]
    offer['type'] = offer_type_score_map[offer['type']]
    # offer['when'] = dateutil.parser.parse(offer['when']).timestamp()

complete_data_frame = pd.DataFrame(all_offers_list)
complete_data_frame

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>score</th>
      <th>type</th>
      <th>what</th>
      <th>when</th>
      <th>who</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>77787</td>
      <td>2016-01-27T11:20:18.849+01:00</td>
      <td>125</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>85617</td>
      <td>2016-02-08T10:14:55.426+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>60482</td>
      <td>2016-02-08T13:21:19.677+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>24357</td>
      <td>2016-09-02T09:56:19.358+02:00</td>
      <td>248</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>65912</td>
      <td>2016-04-19T14:10:08.538+02:00</td>
      <td>187</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>6040</td>
      <td>2016-02-09T15:30:15.257+01:00</td>
      <td>143</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>38629</td>
      <td>2016-02-11T14:45:02.666+01:00</td>
      <td>100</td>
    </tr>
    <tr>
      <th>7</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>41342</td>
      <td>2016-02-12T12:56:07.175+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>25680</td>
      <td>2016-02-12T12:56:08.950+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>9</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>40743</td>
      <td>2015-11-04T09:19:44.950+01:00</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>48092</td>
      <td>2015-11-06T09:20:59.320+01:00</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>57754</td>
      <td>2015-11-06T09:21:11.759+01:00</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>77313</td>
      <td>2015-11-06T09:21:30.866+01:00</td>
      <td>9</td>
    </tr>
    <tr>
      <th>13</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>26884</td>
      <td>2016-02-12T12:56:12.224+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>14</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>75013</td>
      <td>2016-02-12T12:56:13.241+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>15</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>59932</td>
      <td>2015-11-10T20:46:11.514+01:00</td>
      <td>70</td>
    </tr>
    <tr>
      <th>16</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>26447</td>
      <td>2015-11-13T17:31:09.509+01:00</td>
      <td>6</td>
    </tr>
    <tr>
      <th>17</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>34321</td>
      <td>2016-02-12T12:56:16.208+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>18</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>87494</td>
      <td>2016-02-12T12:56:17.095+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>19</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>38120</td>
      <td>2016-02-12T12:56:18.009+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>20</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>74143</td>
      <td>2016-02-12T12:56:21.816+01:00</td>
      <td>149</td>
    </tr>
    <tr>
      <th>21</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>48055</td>
      <td>2016-04-26T12:42:50.495+02:00</td>
      <td>189</td>
    </tr>
    <tr>
      <th>22</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>4500</td>
      <td>2016-04-26T12:53:32.297+02:00</td>
      <td>189</td>
    </tr>
    <tr>
      <th>23</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>5321</td>
      <td>2016-02-18T14:20:34.635+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>24</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>60647</td>
      <td>2016-02-18T14:20:56.835+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>25</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>15399</td>
      <td>2016-02-23T08:15:16.958+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>26</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>78565</td>
      <td>2016-02-23T08:16:16.782+01:00</td>
      <td>122</td>
    </tr>
    <tr>
      <th>27</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>29834</td>
      <td>2016-02-23T11:06:41.449+01:00</td>
      <td>155</td>
    </tr>
    <tr>
      <th>28</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>6750</td>
      <td>2016-01-29T10:37:42.756+01:00</td>
      <td>121</td>
    </tr>
    <tr>
      <th>29</th>
      <td>NaN</td>
      <td>5.0</td>
      <td>25288</td>
      <td>2016-01-29T10:46:59.717+01:00</td>
      <td>119</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>302090</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>2675</td>
      <td>2018-01-27T15:07:18.098+01:00</td>
      <td>184</td>
    </tr>
    <tr>
      <th>302091</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>2392</td>
      <td>2018-01-27T15:09:17.862+01:00</td>
      <td>184</td>
    </tr>
    <tr>
      <th>302092</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>35731</td>
      <td>2018-01-27T15:24:15.403+01:00</td>
      <td>184</td>
    </tr>
    <tr>
      <th>302093</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>67289</td>
      <td>2018-01-29T08:32:49.688+01:00</td>
      <td>360</td>
    </tr>
    <tr>
      <th>302094</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>17100</td>
      <td>2018-01-29T08:44:34.958+01:00</td>
      <td>360</td>
    </tr>
    <tr>
      <th>302095</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>3550</td>
      <td>2018-01-29T08:52:35.124+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302096</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>6477</td>
      <td>2018-01-29T09:19:29.296+01:00</td>
      <td>369</td>
    </tr>
    <tr>
      <th>302097</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>70563</td>
      <td>2018-01-29T10:40:51.837+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302098</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>82810</td>
      <td>2018-01-29T10:42:17.752+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302099</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>3550</td>
      <td>2018-01-29T12:44:35.017+01:00</td>
      <td>87</td>
    </tr>
    <tr>
      <th>302100</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>46068</td>
      <td>2018-01-30T08:57:50.606+01:00</td>
      <td>87</td>
    </tr>
    <tr>
      <th>302101</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>22508</td>
      <td>2018-01-30T11:43:24.168+01:00</td>
      <td>348</td>
    </tr>
    <tr>
      <th>302102</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>21783</td>
      <td>2018-01-30T12:10:11.271+01:00</td>
      <td>348</td>
    </tr>
    <tr>
      <th>302103</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>66266</td>
      <td>2018-01-30T15:15:31.053+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302104</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>74465</td>
      <td>2018-01-30T15:17:27.734+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302105</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>2358</td>
      <td>2018-01-30T15:58:00.015+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302106</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>2939</td>
      <td>2018-01-30T15:59:42.667+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302107</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>34312</td>
      <td>2018-01-31T08:22:17.375+01:00</td>
      <td>360</td>
    </tr>
    <tr>
      <th>302108</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>62109</td>
      <td>2018-01-31T14:12:15.639+01:00</td>
      <td>87</td>
    </tr>
    <tr>
      <th>302109</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>66266</td>
      <td>2018-01-31T14:14:10.776+01:00</td>
      <td>87</td>
    </tr>
    <tr>
      <th>302110</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>3013</td>
      <td>2018-01-31T14:16:01.836+01:00</td>
      <td>87</td>
    </tr>
    <tr>
      <th>302111</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>35045</td>
      <td>2018-02-01T15:15:19.929+01:00</td>
      <td>159</td>
    </tr>
    <tr>
      <th>302112</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>10230</td>
      <td>2018-02-01T15:48:09.223+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302113</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>48398</td>
      <td>2018-02-01T15:49:53.341+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302114</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>80514</td>
      <td>2018-02-01T15:52:04.009+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302115</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>32229</td>
      <td>2018-02-01T21:37:14.807+01:00</td>
      <td>382</td>
    </tr>
    <tr>
      <th>302116</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>74785</td>
      <td>2018-02-02T10:25:55.617+01:00</td>
      <td>360</td>
    </tr>
    <tr>
      <th>302117</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>10387</td>
      <td>2018-02-02T10:34:20.104+01:00</td>
      <td>360</td>
    </tr>
    <tr>
      <th>302118</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>513</td>
      <td>2018-02-02T11:31:26.593+01:00</td>
      <td>28</td>
    </tr>
    <tr>
      <th>302119</th>
      <td>NaN</td>
      <td>3.0</td>
      <td>45446</td>
      <td>2018-02-02T11:31:37.859+01:00</td>
      <td>28</td>
    </tr>
  </tbody>
</table>
<p>302120 rows × 5 columns</p>
</div>

In [75]:
from surprise import Dataset
from surprise import Reader

reader = Reader(rating_scale=(1, 5))

prepared_data = Dataset.load_from_df(complete_data_frame[['user_id', 'offer_id', 'score']], reader)
prepared_data

In [76]:
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split

train_set, test_set = train_test_split(prepared_data, test_size=.2)

svd_algorithm = SVD()

svd_algorithm.fit(train_set)
predict = svd_algorithm.test(test_set)

accuracy.rmse(predict)

RMSE: 0.1157

0.11566891819307137

In [77]:
svd_algorithm.predict(122, unique_offers_bi_map.inv['2016_1_12439_bzp'], verbose=True).est

user: 122        item: 85617      r_ui = None   est = 3.61   {'was_impossible': False}

In [81]:
user_id = 122
offers_for_user = []

for offer_id, offer_name in unique_offers_bi_map.items():
    estimation = svd_algorithm.predict(user_id, offer_id).est
    offers_for_user.append((offer_name, estimation))

offers_for_user.sort(key=lambda pair: pair[1], reverse=True)
offers_for_user[:10]

[('2016_S_036-057826_ted', 3.7368197780749157),
 ('2016_1_36066_bzp', 3.6933891786812634),
 ('2013_1_155005_bzp', 3.6793441603770787),
 ('2016_S_025-039860_ted', 3.6692002960856387),
 ('2016_1_17594_bzp', 3.639478975947134),
 ('2013_1_156567_bzp', 3.634500645817603),
 ('bzp-2017-n-619782', 3.6237535024642344),
 ('2015_1_286876_bzp', 3.6175929410492316),
 ('2016_1_12439_bzp', 3.6139082549001458),
 ('2015_1_18223_bzp', 3.592856808740139)]

In [23]:
l1 = json.load(open('tracker/observed-offers.json'))
l2 = json.load(open('tracker/viewed-offers.json'))
test_lists = [l1, l2]

for lst in test_lists:
    for item in lst:
        if item['who'] == 122 and item['what'] == '2016_1_12439_bzp':
            print(item)

# there may be a problem when interaction of the same user 
# with the same offer is in 2 different files

{'type': 'observed-offer', 'who': 122, 'what': '2016_1_12439_bzp', 'when': '2016-02-08T10:14:55.426+01:00'}
{'type': 'viewed-offer', 'who': 122, 'what': '2016_1_12439_bzp', 'when': '2016-02-29T08:24:14.296+01:00'}

In [40]:
test_map = {}
test_map[(122, 1)] = 3.0
test_map[(1, 5)] = 4.1

print(test_map)
print((123, 1) in test_map)

map_key = (125, 8)
for map_key in [(125, 8), (122, 1)]:
    if map_key not in test_map or test_map[map_key] < 4.0:
        test_map[map_key] = 4.0

for (x, y), z in test_map.items():
    print(x, " ", y, " ", z)

{(122, 1): 3.0, (1, 5): 4.1}
False
122   1   4.0
1   5   4.1
125   8   4.0

In [73]:
import pandas as pd

offer_type_score_map = {
    'observed-offer': 5.0,
    'reported-offer': 2.0,
    'viewed-offer': 3.0
}

unique_user_offer_map = {}

for offer in all_offers_list:
    user_id = offer['who']
    offer_id = unique_offers_bi_map.inv[offer['what']]
    score = offer_type_score_map[offer['type']]
    
    map_key = (user_id, offer_id)
    if map_key not in unique_user_offer_map or unique_user_offer_map[map_key] < score:
        unique_user_offer_map[map_key] = score
        
prepared_offers_list = [{'user_id': user_id, 'offer_id': offer_id, 'score': score} for (user_id, offer_id), score in unique_user_offer_map.items()]
complete_data_frame = pd.DataFrame(prepared_offers_list)
complete_data_frame

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>offer_id</th>
      <th>score</th>
      <th>user_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>77787</td>
      <td>5.0</td>
      <td>125</td>
    </tr>
    <tr>
      <th>1</th>
      <td>85617</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>2</th>
      <td>60482</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>3</th>
      <td>24357</td>
      <td>5.0</td>
      <td>248</td>
    </tr>
    <tr>
      <th>4</th>
      <td>65912</td>
      <td>5.0</td>
      <td>187</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6040</td>
      <td>5.0</td>
      <td>143</td>
    </tr>
    <tr>
      <th>6</th>
      <td>38629</td>
      <td>5.0</td>
      <td>100</td>
    </tr>
    <tr>
      <th>7</th>
      <td>41342</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>8</th>
      <td>25680</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>9</th>
      <td>40743</td>
      <td>5.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>48092</td>
      <td>5.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>57754</td>
      <td>5.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>77313</td>
      <td>5.0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>13</th>
      <td>26884</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>14</th>
      <td>75013</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>15</th>
      <td>59932</td>
      <td>5.0</td>
      <td>70</td>
    </tr>
    <tr>
      <th>16</th>
      <td>26447</td>
      <td>5.0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>17</th>
      <td>34321</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>18</th>
      <td>87494</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>19</th>
      <td>38120</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>20</th>
      <td>74143</td>
      <td>5.0</td>
      <td>149</td>
    </tr>
    <tr>
      <th>21</th>
      <td>48055</td>
      <td>5.0</td>
      <td>189</td>
    </tr>
    <tr>
      <th>22</th>
      <td>4500</td>
      <td>5.0</td>
      <td>189</td>
    </tr>
    <tr>
      <th>23</th>
      <td>5321</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>24</th>
      <td>60647</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>25</th>
      <td>15399</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>26</th>
      <td>78565</td>
      <td>5.0</td>
      <td>122</td>
    </tr>
    <tr>
      <th>27</th>
      <td>29834</td>
      <td>5.0</td>
      <td>155</td>
    </tr>
    <tr>
      <th>28</th>
      <td>6750</td>
      <td>5.0</td>
      <td>121</td>
    </tr>
    <tr>
      <th>29</th>
      <td>25288</td>
      <td>5.0</td>
      <td>119</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>211771</th>
      <td>32174</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211772</th>
      <td>49111</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211773</th>
      <td>71020</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211774</th>
      <td>67777</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211775</th>
      <td>53430</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211776</th>
      <td>4499</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211777</th>
      <td>38562</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211778</th>
      <td>70542</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211779</th>
      <td>55428</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211780</th>
      <td>49545</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211781</th>
      <td>27349</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211782</th>
      <td>52150</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211783</th>
      <td>53739</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211784</th>
      <td>59949</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211785</th>
      <td>75881</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211786</th>
      <td>51634</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211787</th>
      <td>77331</td>
      <td>3.0</td>
      <td>184</td>
    </tr>
    <tr>
      <th>211788</th>
      <td>5196</td>
      <td>3.0</td>
      <td>184</td>
    </tr>
    <tr>
      <th>211789</th>
      <td>35731</td>
      <td>3.0</td>
      <td>184</td>
    </tr>
    <tr>
      <th>211790</th>
      <td>67289</td>
      <td>3.0</td>
      <td>360</td>
    </tr>
    <tr>
      <th>211791</th>
      <td>17100</td>
      <td>3.0</td>
      <td>360</td>
    </tr>
    <tr>
      <th>211792</th>
      <td>3550</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211793</th>
      <td>6477</td>
      <td>3.0</td>
      <td>369</td>
    </tr>
    <tr>
      <th>211794</th>
      <td>22508</td>
      <td>3.0</td>
      <td>348</td>
    </tr>
    <tr>
      <th>211795</th>
      <td>34312</td>
      <td>3.0</td>
      <td>360</td>
    </tr>
    <tr>
      <th>211796</th>
      <td>35045</td>
      <td>3.0</td>
      <td>159</td>
    </tr>
    <tr>
      <th>211797</th>
      <td>74785</td>
      <td>3.0</td>
      <td>360</td>
    </tr>
    <tr>
      <th>211798</th>
      <td>10387</td>
      <td>3.0</td>
      <td>360</td>
    </tr>
    <tr>
      <th>211799</th>
      <td>513</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
    <tr>
      <th>211800</th>
      <td>45446</td>
      <td>3.0</td>
      <td>28</td>
    </tr>
  </tbody>
</table>
<p>211801 rows × 3 columns</p>
</div>